

 <div class="container about">
        <h5><%= @user.fname %></h5>
        <hr>
        <div class="row">
          <div class="col s12 m4 l4">
            <h6>Perfil</h6>
            <div class="card #EDEDED">
              <div class="card-content white-text">
                <%= gravatar_for @user %>

              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">

          </div>
          <div class="col s12 m4 l4">
            <h6>Datos</h6>
            <ul class="collapsible">
              <li class="active">
                <div class="collapsible-header"><i class="large material-icons">email</i>Correo</div>
                <div class="collapsible-body"><p><%= @user.email%> </p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="large material-icons">room</i>Direccion</div>
                <div class="collapsible-body"><p><%= @user.addrline1 +  @user.addrline2%> </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="large material-icons">aspect_ratio</i>Metros Cuadrados</div>
                <div class="collapsible-body"><p><%= @user.square_meters%></p></div>
              </li>
            </ul>
          </div>
        </div>
      </div>

 <h3 class="header center teal-text text-lighten-2">Tus mascotas adoptadas: </h3>

<div class="row">
  <% @user.rescued_animals.each do |animal| %>
  	<%= render partial: "partials/animal", object: animal %>
  <% end %>
</div>



<h3 class="header center teal-text text-lighten-2"> Tus mascotas dadas en adopcion: </h3>

<div class="row">
  <% @user.adopted_animals.each do |animal| %>
    <%= render partial: "partials/animal", object: animal %>
  <% end %>
</div>


<script type="text/javascript">
	 $(document).ready(function(){
            $('.collapsible').collapsible();
          });
</script>



<% if current_user == @user %>
  <h3 class="header center teal-text text-lighten-2"> Solicitudes recibidas: </h3>


  <%if @received_requests%>


    <div class="row">

    </div>
    
<% end %>



<% @received_requests.each do |received| %>
      <!-- Aqui va lo de text-edit -->
<% end %>

    <% @received_requests.each do |received| %>
      <div>
        <%= image_tag Animal.find(received.animal_id).photo.url Animal.find(received.animal_id).photo? %>
        <h2><%= Animal.find(received.animal_id).name %></h2>
        <% status = received.status %>
        <h2><% case status when "sent for adoption"%>
          <b>Adopcion</b> Recibido de
          <%=link_to received.sender.fname, received.sender%></h2>
          <%= form_for received, method: 'put' do -%>
            <%= hidden_field_tag :action, 'accept' -%>
            <%= hidden_field_tag :adoptant, received.sender_id -%>
            <%= submit_tag 'Accept Adoption' -%>
          <%- end -%>
          <%= form_for received, method: 'put' do -%>
            <%= hidden_field_tag :action, 'deny' -%>
            <%= submit_tag 'Deny Adoption' -%>
          <%- end -%>
        <%when "sent for meetup"%>
          <b>Meetup</b> Recibido de
          <%=link_to received.sender.fname, received.sender %></h2>
          <div><%= form_for received, method: 'put' do |f| %>
            <%= f.date_field(:date) %>
            <%= f.time_field(:time) %>
            <%= f.label :location %>
            <%= f.text_field(:location) %>
            <%= submit_tag "Propose Changes"%>
            <%= submit_tag "Accept Meetup" %>
            <%= submit_tag "Deny Meetup" %>
          <%end%></div>
        <%when "accepted adoption"%>
          Aceptado con
          <%=link_to received.sender.fname, received.sender%></h2>
        <%when "denied adoption" %>
          Negado</h2>
        <%when "propose change" %>
          Cambio propuesto a
          <%=link_to received.sender.fname, received.sender %></h2>
          <%= received.date.strftime("Para conocerlo el %d/%m/%Y") %>
          <%= received.time.strftime("a las %I:%M%p") %>
        <%when "accepted meetup" %>
          Aceptado con
          <%=link_to received.sender.fname, received.sender%></h2>
          <%= received.date.strftime("Lo conocerá el %d/%m/%Y") %>
          <%= received.time.strftime("a las %I:%M%p") %>
        <%when "denied meetup" %>
          Negado</h2>
        <% end %>
      </div>
      <% end %>
    <% end %>


    <h1> Sent Requests </h1>
    <% if @sent_requests%>
      <%@sent_requests.each do |sent| %>
        <div>
          <%= image_tag Animal.find(sent.animal_id).photo.url if Animal.find(sent.animal_id).photo? %>
          <h2><%= Animal.find(sent.animal_id).name %></h2>
          <% status = sent.status %>
          <h2><% case status when "sent for adoption"%>
            Enviado a
            <%=link_to sent.recipient.fname, sent.recipient%></h2>
            <%= form_for sent, method: 'delete' do -%>
              <%= hidden_field_tag :action, 'delete' -%>
              <%= hidden_field_tag :request, sent.id %>
              <%= submit_tag 'Cancel Request' -%>
            <%- end -%>
          <%when "accepted adoption"%>
            Aceptado por
            <%=link_to sent.recipient.fname, sent.recipient%></h2>
          <%when "denied adoption" %>
            Negado</h2>
          <%when "sent for meetup"%>
            <b>Meetup</b> Enviado a
            <%=link_to sent.recipient.fname, sent.recipient %></h2>
            <%= sent.date.strftime("Para conocerlo el %d/%m/%Y") %>
            <%= sent.time.strftime("a las %I:%M%p") %>
            <%= form_for sent, method: 'delete' do -%>
              <%= hidden_field_tag :action, 'delete' -%>
              <%= hidden_field_tag :request, sent.id %>
              <%= submit_tag 'Cancel Request' -%>
            <%- end -%>
          <%when "propose change" %>
            Cambios propuestos por
            <%=link_to sent.recipient.fname, sent.recipient%></h2>
            <div><%= form_for sent, method: 'put' do |f| %>
              <%= f.date_field(:date) %>
              <%= f.time_field(:time) %>
              <%= f.label :location %>
              <%= f.text_field(:location) %>
              <%= submit_tag "Propose More Changes"%>
              <%= submit_tag "Accept Meetup" %>
              <%= submit_tag "Deny Meetup" %>
            <%end%></div>
          <%when "accepted meetup" %>
            Aceptado por
            <%=link_to sent.recipient.fname, sent.recipient%></h2>
            <%= sent.date.strftime("Lo conocerás el %d/%m/%Y") %>
            <%= sent.time.strftime("a las %I:%M%p") %>
          <%when "denied meetup" %>
            Negado</h2>
          <% end %>
        </div>
        <% end %>
      <%end%>
<%end%>

<h1> Adopted Animals </h1>
<% if @adopted_animals%>
  <%@adopted_animals.each do |adopted| %>
    <div>
      <%= image_tag adopted.photo.url if adopted.photo? %>
      <h2><%=link_to adopted.name, adopted %></h2>
      <h3><%= adopted.species %></h3>
      <h3><%= adopted.details %></h3>
      <h3><%= adopted.size %></h3>
    </div>
  <% end %>
<%end%>

<!-- 
<h1> Rescued Animals </h1>
<% if @rescued_animals %>
  <%@rescued_animals.each do |rescued| %>
    <div>
      <%= image_tag rescued.photo.url if rescued.photo? %>
      <h2><%=link_to rescued.name, rescued %></h2>
      <h3><%= rescued.species %></h3>
      <h3><%= rescued.details %></h3>
      <h3><%= rescued.size %></h3>
    </div>
  <%end%>
<%end%> -->

<h1> Bookmarked Animals </h1>
<% if @bookmarked_animals %>
  <%@bookmarked_animals.each do |bookmarked| %>
    <div>
      <%= image_tag bookmarked.photo.url if bookmarked.photo? %>
      <h2><%=link_to bookmarked.name, bookmarked %></h2>
      <h3><%= bookmarked.species %></h3>
      <h3><%= bookmarked.details %></h3>
      <h3><%= bookmarked.size %></h3>
      <%= form_for @user, method: 'put' do -%>
        <%= hidden_field_tag :action, 'removeBookmark' -%>
        <%= hidden_field_tag :animal_to_remove, bookmarked.id -%>
        <%= submit_tag 'Remove Bookmark' -%>
      <%- end -%>
    </div>
  <%end%>
<%end%>


  <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large mdi-navigation-menu"></i>
    </a>
    <ul>
      <li><a class="btn-floating blue" href="/events/new"><i class="material-icons">local_pizza</i></a></li>
      <li><a class="btn-floating green" href="/animals/new"><i class="material-icons">plus_one</i></a></li>   
    </ul>
  </div>