
 <div class="container about">
        <h5><%= @user.fname %></h5>
        <hr>
        <div class="row">
          <div class="col s12 m4 l4">
            <h6>Perfil</h6>
            <div class="card #EDEDED">
              <div class="card-content white-text">
                <%= gravatar_for @user %>

              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">

          </div>
          <div class="col s12 m4 l4">
            <h6>Datos</h6>
            <ul class="collapsible">
              <li class="active">
                <div class="collapsible-header"><i class="large material-icons">email</i>Correo</div>
                <div class="collapsible-body"><p><%= @user.email%> </p></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="large material-icons">room</i>Direccion</div>
                <div class="collapsible-body"><p><%= @user.addrline1 +  @user.addrline2%> </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="large material-icons">aspect_ratio</i>Metros Cuadrados</div>
                <div class="collapsible-body"><p><%= @user.square_meters%></p></div>
              </li>
            </ul>
          </div>
        </div>
      </div>

 <h3 class="header center teal-text text-lighten-2">Tus mascotas rescatadas: </h3>

<div class="row">
  <% @user.rescued_animals.each do |animal| %>
  	<%= render partial: "partials/animal", object: animal %>
  <% end %>
</div>

<h3 class="header center teal-text text-lighten-2"> Tus mascotas adoptadas: </h3>

<div class = "row">
  <% @user.adopted_animals.each do |animal| %>
    <%= render partial: "partials/animal", object: animal %>
  <% end %>
</div>

<script type="text/javascript">
	 $(document).ready(function(){
            $('.collapsible').collapsible();
          });
</script>

<% if current_user == @user %>

    <h3 class="header center teal-text text-lighten-2"> Solicitudes recibidas: </h3>

    <%if @received_requests %>

          <div class="row">

          <%@received_requests.each do |received|  %>


              <%= render partial: "partials/received", object: received %>
          <% end %>
           </div>
    <%end%>

<% end %>



<% if current_user == @user %>

    <h3 class="header center teal-text text-lighten-2"> Solicitudes enviadas: </h3>

    <%if @sent_requests %>
          <div class="row">
          <%@sent_requests.each do |sent|  %>


              <%= render partial: "partials/sent", object: sent %>

          <% end %>
          </div>
    <%end%>

<% end %>






  <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large mdi-navigation-menu"></i>
    </a>
    <ul>
      <li><a class="btn-floating blue" href="/events/new"><i class="material-icons">local_pizza</i></a></li>
      <li><a class="btn-floating green" href="/animals/new"><i class="material-icons">plus_one</i></a></li>
    </ul>
  </div>
