<h2><%=@event.name%></h2>
<p><%=@event.description%></p>
<%=@event.date.strftime("%A %b %d")%>
<p><%=@event.addrline1%></p>
<p><%=@event.addrline2%></p>
<% if (@user_rescued_unadopted-@assistingAnimals).length > 0 %>
  <%= form_for @event, method:'put' do %>
    <%= hidden_field_tag :action, 'addAnimal' %>
    <%= collection_check_boxes(:events,:animals,@user_rescued_unadopted-@assistingAnimals,:id,:name)%>
    <%= submit_tag 'Add Animals' %>
  <%end%>
<%end%>
<% if @assistingAnimals%>
  <h1>Assisting Animals </h1>
  <%@assistingAnimals.each do |assistant| %>
    <div>
      <%= image_tag assistant.photo.url if assistant.photo? %>
      <h2><%=link_to assistant.name, assistant %></h2>
      <h3><%= assistant.species %></h3>
      <h3><%= assistant.details %></h3>
      <h3><%= assistant.size %></h3>
      <% if assistant.rescuer == current_user %>
        <%= form_for @event, method:'put' do%>
          <%= hidden_field_tag :action, 'removeAnimal' %>
          <%= hidden_field_tag :animal_to_remove, assistant.id %>
          <%= submit_tag "Remove Animal" %>
        <%end%>
      <%end%>
    </div>
  <%end%>
<%end%>
