<h2 class="header center teal-text text-lighten-2">Edit info</h2>

<%= form_for(@animal, html: { multipart: true }) do |f| %>

  <p class="photo_text">Current photo: </p>
  <%=f.label :photo %>
  <%= image_tag(@animal.photo.url, :class => "animal_photo") if @animal.photo? %>
  <br>

  <%=f.file_field :photo %>
  <br>
  <br>
  <%=f.label :name %>
  <%=f.text_field :name%>
  <br>
  <%=f.label :species%>
  <%= radio_button_tag(:species, "dog") %>
  <%= label_tag(:species_dog, "Dog") %>
  <%= radio_button_tag(:species, "cat") %>
  <%= label_tag(:species_cat, "Cat") %>
  <br>
  <%=f.label :details%>
  <%= f.text_area :details %>
  <br>
  <%=f.label :size%>
  <%= radio_button_tag(:size, "big") %>
  <%= label_tag(:size_big, "Big") %>
  <%= radio_button_tag(:size, "medium") %>
  <%= label_tag(:size_medium, "Medium") %>
  <%= radio_button_tag(:size, "small") %>
  <%= label_tag(:size_small, "Small") %>
  <br>
  <br>
  <%=f.submit "Update Animal" %>
<% end %>
