

<% provide(:title, 'Add animal') %>
<h1>Add animal</h1>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@animal) do |f| %>

      <%=f.label :photo %>
      <%=f.file_field :photo, class: 'form-control'%>
      <br>
      <br>
      <%=f.label :name %>
      <%=f.text_field :name, class: 'form-control' %>

      <%=f.label :species%>
      <%= f.select :species, "<option value='dog'>Dog</option><option value='cat'>Cat</option>".html_safe, class: 'form-control'  %>
      <br>
      <br>
      <%=f.label :details%>
      <%= f.text_area :details,class: 'form-control'  %>
      <br>

      <%=f.label :size%>
      <%= f.select(:size, options_for_select([['Big', 1], ['Medium', 2], ['Small', 3]])) %>

    
    <%= f.select :size, "<option value='big'>Big</option><option value='medium'>Medium</option><option value='small'>Small</option>".html_safe %>
    <br>

     <%= f.hidden_field :rescuer_id, {value:current_user.id}%>
     <br>
      
      <%= f.submit "Rescue pet", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

