<h1>Animals#show</h1>
<p>Find me in app/views/animals/show.html.erb</p>
<%= image_tag @animal.photo.url if @animal.photo? %>
<h2><%= @animal.name %> </h2>
<h3><%= @animal.species %> </h3>
<p> <%= @animal.details if @animal.details? %></p>
<p> <%= @animal.size if @animal.size? %> </p>
<p> <%= link_to @animal.rescuer.email, @animal.rescuer %> </p>

<%request=@animal.requests.new()%>
<% url = "/animals/#{@animal.id}/requests" %>
<%= form_for([@animal,request],:url => url) do -%>
  <%= hidden_field_tag :animal_id, @animal.id -%>
  <%=submit_tag "Request Adoption"%>
<% end%>

<% if !@alreadyBookmarked %>
  <%= form_for current_user, method: 'put' do -%>
    <%= hidden_field_tag :action, 'addBookmark' -%>
    <%= hidden_field_tag :animal_to_bookmark, @animal.id -%>
    <%= submit_tag 'Bookmark' -%>
  <%- end -%>
<% end %>
