<!DOCTYPE html>
<html>
<head>
  <title>AdoptionApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="Logo">Adopt Life</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><%= link_to "Inicio",    root_path %></li>
        <li><%= link_to "Eventos"%></li>
        <li><%= link_to "Solicitudes" %></li>
        <li><%= link_to "Perfil",    current_user %></li>
        <li><%= link_to "Log out", logout_path, method: "delete" %> </li>
      </ul>
    </div>
  </nav>

</head>
<body>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>
<script type="text/javascript" src="js/materialize.js"></script>

  <div id="index-banner" class="parallax-container" style="background-image:url('/assets/banner1.jpg')">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">ADOPT LIFE</h1>
        <div class="row center">
          <h5 class="header col s12 light">Dandole a las mascotas una nueva vida</h5>
        </div>
        <br><br>
      </div>
    </div>
  </div>



<%#= link_to 'Add user', new_user_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<%= yield %>
 <%# debug(params) if Rails.env.development? %>

</body>
</html>
